# ¬°Buenos Dias! ‚òÄÔ∏èüåû My lovelies....

So I jumped on this course on ```Python Data Types```, and started applying them for healthcare. 

Guess what? 

It's been amazing so far! 

After a year of struggling with Python, I am really believing this glow-up is really happening --- All thanks to my training at Standard Data Ocean. ü§≠   

##### Walk with me, let me show you what i have learnt.

...and just like every other programming language, I wrote(code, its actualy code, lol) my first print statement on python!!! üëá

In [331]:
print("hello!, VS code and Jupyter notebook!!")

hello!, VS code and Jupyter notebook!!

Before we dive deep in let me just hint you! 

Okay this is it, when we need to code extra info, i mean things not related to the codes, say like an extra guide to the reader or write ups to help you remember what each code is for, in Python we just put them in 
### Comments üó®Ô∏è
i hope you see my comments as you go through this notebook, (in whispers: commenting is a skill, not everyone gets it immediately as you can see below, but you just try)

In [332]:
# Comments 
#This is a comment, a comment is written with a # symbol in front
# As you're learning Python, use comments to take notes to remember key concepts and to enhance your understanding.

In every programming language, one of the first set of things you get meet is 

### Data Types and Operators

Don't fret is very easy, you may know them as well, but not have put labels on them... I will rather categorize them for you, instead of splitting them, that way you would always remember. Don't say i didn't do something nice for you üòÇ *one day i knew i was going to use that line*

### 1. Numericals 
- Integers
- Floats 

Numericals, can either be integers as a whole number for example `5`, or floats as in numbers with decimals for example `5.0`.

And they all work with the operators below üëá

In [333]:
# `+` addition (adds numericals)

3+2

5

In [334]:
# `-` subtraction (minuses numericals)

3-2

1

In [335]:
# `/` division (divides numericals to always return the complete float)

3/2

1.5

In [336]:
# `//`floor_division (divides numericals to always return only the wholenumber in the float)

5//2

2

In [337]:
# `%`modulus (divides numericals to always return only the remainder (the decimal or float part))

3%2

1

In [338]:
# `**`exponentiation (simply raised to the power of üòÇ)

3**2

9

Anything that is not a number, not a numerical is identified and called a

### 2. String üî°

Strings are characters wrapped as a text, so even if its a number python will see it as a text, *emojis are strings, punctuations are strings etc.*
- They are written with single quotes ' ' or double quotes ""
- If you want to use apostrophe is used ', you use double quotes to differentiate them so python see's it as a string in punctuation format.

In [339]:
# "" double quotes

"I am learning python for health"

'I am learning python for health'

In [340]:
# '' single quotes (returns ame result as double quote)

'I am learning python for health'

'I am learning python for health'

In [341]:
# "'" with apostrophe <-- double quotes and single quotes together. Python see's ' as a string instead.

"You are learning python for health! Aren't you"

"You are learning python for health! Aren't you"

Data type needed to code statements that can either be right or wrong, true or false, yes or no, or in-between etc.

### 3. Booleans
- True
- False

In [342]:

#The integer value can either be 1 or 0, 1 for true and 0 for false.
int(True)

1

In [343]:
int(False)

0

So what if we want to save things to use them later? 
### Variables üó≥Ô∏è

In [344]:
#Variables - these are name values, like labelling or given your value a name.
#python also updates variables when they are changed, like it keeps the current information. 
#Tips: can only be one word, if more than one separate with _ , dont start with a number, but it can contain a number.
# For example:
patient_name= "Sandra"
print (patient_name)

Sandra

In [345]:
#update patient_name to Ginika  
patient_name="Ginika" #saves this name, forgets Sandra
print (patient_name)

Ginika

In [346]:
#Applying variable knowledge
number_of_screenings = 25
cost_per_screening = 1500
target_population = 30
cervical_program_cost = number_of_screenings*cost_per_screening
cervical_program_budget= cost_per_screening*target_population
print(cervical_program_cost)

37500

There are also times, when you would want to create a variable, but never want them to change or you know it wouldn't make sense if it chnages, for example *someone's DNA*. These variables will be described as immutables, in python they are called

### CONSTANTS - Other type of variable

Let's make variables immutable! 

*The word immutable means Unchangeable, new word yeah?... it was my first time too üôà*

In [347]:
#If we do not want a variable to change, we code their variable names in uppercase (capital letter)

ORGANIZATION_NAME = "Stanford Data Ocean"
PROGRAM_NAME = "Stanford Data Ocean Precision Medicine Program"
TRACK = "Bioinformatics Certificate"
COURSE = "Introduction to Python"

Or we want to print statements but still call the result of variable(s) we created before within the print statement.
### Print Formatting üñ®Ô∏è is your best choice - and this can be done in 2 ways
- .format
- f-string

In [348]:
# use .format(first_variable, seond_variable) outside the string quotes 
# use empty curly {} braces to indicate the position of the variable within the sentence.
print("With a total budget of ${} and target population of {}, carved out for the free cervical screening. We only spent ${}, after conducting {} screenings. Leaving us with only ${} in the bank.".format(cervical_program_budget, target_population, cervical_program_cost, number_of_screenings, target_population-number_of_screenings))

With a total budget of $45000 and target population of 30, carved out for the free cervical screening. We only spent $37500, after conducting 25 screenings. Leaving us with only $5 in the bank.

In [349]:
# use f-string just put an f within the print bracket before the first string quote, 
# and place the curly braces {}, the positions you want each variable to be.
print(f"With a total budget of ${cervical_program_budget} and target population of {target_population}, carved out for the free cervical screening. We only spent ${cervical_program_cost}, after conducting {number_of_screenings} screenings. Leaving us with only ${target_population-number_of_screenings} in the bank.")

With a total budget of $45000 and target population of 30, carved out for the free cervical screening. We only spent $37500, after conducting 25 screenings. Leaving us with only $5 in the bank.

Do you know that you can assign or store more than one variable on the same line of code?

### Unpacking/Multiple Variables
- first, separate all values by a comma, 
- then make sure the number of variables = the number of value

In [350]:

patient_a, patient_b, patient_c = "fever", "cough", "cold"
print(patient_a)

fever

In [351]:
#Application

print(f"{patient_a} has {patient_a}")

fever has fever

In [352]:
#Application

print(f"patient_a has {patient_a}")

patient_a has fever

Say you want to be sure of something or want some clarification üß† We can make python reason first before giving us an answer ü§î

### Understanding conditions with Booleans

In [353]:
#with and
True and True #means both conditions are true so, the answer must be true, just like + + + will always be +, see and as plus sign

True

In [354]:
True and False #+ + - = -, one condition is not true, so this will return false

False

In [355]:
#with or 
True or False #means if any condition is true, even if it's one, he result will be positive

True

In [356]:
True or True

True

In [357]:
#with not 
#use when you want to return the opposite
not True #will return its opposite

False

In [358]:
not False

True

### We can also use Operators as Conditionals ‚óÄÔ∏è‚ñ∂Ô∏è

In [359]:
#instead of using booleans we ca decide to use arithmetic operators to code conditions
#if the conditional statement is correct/true it will return True, but if it's not correct/true it will return false
1 < 20 #askes python, "is 1 less than 20?" and it says yes in code (True)

True

In [360]:
20 < 1 # is 20 less than 1? and it says no in code (False)

False

In [361]:
20 > 1 #is 20 greater than 1?

True

In [362]:
20 >= 1 #is 20 greater than or equal to 1?

True

In [363]:
20 <= 1 #20 less than or equal to 1?

False

In [364]:
20 != 1 #confirming if 20 is not equal to 1

True

In [365]:
20 == 1 #confirming if 20 is equal to 1

False

In [366]:
# we can also do same with string variables see,
"chidinma" == "chidima"

False

In [367]:
ORGANIZATION_NAME == PROGRAM_NAME

False

In [368]:
ORG_NAME = "Stanford Data Ocean"
ORGANIZATION_NAME == ORG_NAME #you can see this return true because literally the 2 variables store the same value (scroll upwards to see ORGANIZATION_NAME value)

True

In [369]:
#so far the condition is correct, the statement will return true, else false, please study below
"chidinma" == "chidima"

False

In [370]:
"chidinma" == "chidinma" #words are the same

True

In [371]:
"chidinma" == 'chidinma' #double and single quotes are the same thing, however note that you cannot use single quotes on the left side
                         #it is always ideal to use double quotes for the comparison variable while the single quote for assignments, though both will run.

True

In [372]:
'chidinma'=="chidinma"  
#read the line comment above, also string comparison can be useful, when comparing if the text a person entered is equaivalent to the saved password.

True

And then convert a variable's type into another....
### Casting ‚Ü™‚Ü©

In [373]:
#to convert a type, just wrap the variable name in the type 
int(14.2) #(! an integer will always givee you a round number, so you can use it for round ups)

14

In [374]:
float(14) # converting it back to float

14.0

In [375]:
bool(1)

True

In [376]:
str(1)

'1'

It's time to go now lovelies...
# ¬°hasta pronto! üôã‚Äç‚ôÄÔ∏è

In [377]:
not(50 < 50) and (100 < 100)

False